/* App.css */

.app {
  padding: 20px;
  background-color: #f5f5f5;
}

.title {
  color: whitesmoke;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-family: cursive;
}

/* Styling for NavBar component */
.nav {
  background-color: #d86e16;
  padding: 10px;
}

.nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

.nav li {
  margin: 0 10px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Styling for EateryList component */
/* .eatery-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
} */

/* .eatery-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(172, 133, 133, 0.1);
} */

/* .eatery-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.eatery-card p {
  font-size: 14px;
  color: #666;
} */

/* Styling for EateryForm component */
/* .eatery-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: center;
} */

/* .eatery-form label {
  display: block;
  margin-bottom: 10px;
} */

.eatery-form input[type="text"],
.eatery-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Eatery List */
/* .eatery-list-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: cursive;
  justify-content: center;
} */

/* .search-input,
.filter-input {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
  font-family: cursive;
} */

/* .eatery-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
} */

/* .eatery-item:hover {
  background-color: #f0f0f0;
} */

.no-eateries {
  font-style: italic;
  color: #999;
}

/* Sidebar */
.sidebar {
  width: 120px;
  background-color: #d86e16;
  padding: 20px;
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  margin-bottom: 10px;
}

.sidebar-link {
  color: #333;
  text-decoration: none;
}

.sidebar-link:hover {
  text-decoration: underline;
}

/* Eaterylist */
.eatery-list-container {
  margin: 30px;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-family: cursive;

  top: 105px;
  left: 450px;


}

.eatery-list-heading {
  font-size: 24px;
  margin-bottom: 10px;

}

.search-input,
.filter-input {
  margin-bottom: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.eatery-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;

}

.eatery-item:hover {
  background-color: #f5f5f5;
  display: grid;
}

.no-eateries {
  margin-top: 20px;
  font-style: italic;
  color: gray;
}

/* Eateriee Ranking */
.headings {
  text-align: c;
  font-size: 20px;
  margin-bottom: 20px;
  font-family: cursive;

}

.eatery-list {
  list-style: none;

  text-align: center;
  justify-content: center;
}

.eatery-item {
  margin-bottom: 20px;
}

.eatery-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.eatery-rating {
  font-size: 10px;
  margin-bottom: 5px;
  font-family: cursive;
  opacity: 0.5;
}

.eatery-picture {
  width: 100%;
  height: auto;
}

/* Reeview list updated */

.review-list-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

.review-item {
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 5px 14px;
  cursor: pointer;
}
.maps_new {
  position: absolute;
  top: 180px;
  right: 150px;
  width: 200px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: calc(23.23% - 10px);
  height:auto;
  overflow-wrap:normal;


  /* border: 3px solid #73AD21; */
}

.background-video {

  /* top: 0;
  left: 0;
  width: 400px;
  height: 100vh; */
  /* position: relative; */
  z-index: -9999;
  position:absolute;
  justify-content: center;
  top:2;
  left:0;
  width:100%;
  height:600%;
  object-fit: cover;

}

/* eateryrating div */
.eateryratingdiv{
  background-color: #d86e16;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: calc(15.33% - 10px);
  height:auto;
  overflow-wrap:normal;
  background: rgba(243, 185, 38, 0.3)

}
.app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(76, 175, 80, 0.3) /* Green background with 30% opacity */

}

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(76, 175, 80, 0.3) /* Green background with 30% opacity */



}
.addeatery{
  margin: 30px;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-family: cursive;

  top: 105px;
  left: 450px;


}
.eatery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
